# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/
.next-test/

# Production
/build
/dist

# Misc
.DS_Store
*.pem
Thumbs.db

# Debug
logs
*.log
npm-debug.log*
.pnpm-debug.log*

# Local env files
.env*.local
.env
.env.development
.env.test
.env.production

# Vercel
.vercel
.turbo

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.sublime-project
*.sublime-workspace

# Cache
.eslintcache
.stylelintcache
.prettiercache

# Bundle analyzer
/analyze
